# Ignore virtual environment folders
envs/
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore log files
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variables file (if any)
.env

# Ignore data folder where large datasets are stored
data/
